<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>


<body>
    <header>
        <section class="header-top-section">
            <div class="logo-ml">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            <div class="barra-busqueda">
                <form action="search" class="serach-form">
                    <input type="search" name="search" placeholder="Buscar productos, marcas...">
                    <input type="submit" value="Buscar"> <i class="fa fa-search"></i>
                </form>
            </div>
            <div>
                <p><i class='fas fa-hand-holding-usd'></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>

        <section class="header-bottom-section">
            <div>
                <nav>
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

            <div>
                <nav>
                    <ul>
                        <li><a href="/registro">Creá tu cuenta<i class='far fa-address-card'></i></a></li>
                        <li><a href="/login">Ingresá<i class='fas fa-sign-out-alt'></i></a></li>
                        <li><a href="#">Mis compras<i class='fas fa-shopping-basket'></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    m
</body>
</html>