/* Colores:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header{
    background-color: #EAC926;
    width: 100%;
}

.header-top-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu>.menu__lista>li>a>i{
    margin: 5px;
}
.header-text>p{
    text-align: center;
    margin-top: 25%;
    font-size: 300;
    font-weight: bold;
    
}
.logo-ml{
    width: 40%;
}
.barra-busqueda{
    text-align: center;
    padding-top: 5%;
    width: 30%;
}
.barra{
    width: 60%;
    height: 30px;
}

.cont-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cont-menu{
    margin: 10px;
}
.menu{
    margin-bottom: 10px;
}
.menu__lista{
    display: flex;
    flex-wrap: wrap;
}
.menu>ul.menu__lista>li{
    list-style: none;
    padding: 0px 17px 0px 11px;
}
.menu>ul.menu__lista>li>a{
    margin: 10px;
    padding: 4px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 300;
    font-size: 15px;

}

    /* MAIN */
main{
    width: 90%;
    margin: 10px;
}
.banner{
    margin: auto;
}
.titulares{
    font-size: 24px;
}.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;;
}
.descripciones{
    font-size: 16px;
}

