/* Colores:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header{
    background-color: #EAC926;
    width: 100%;
}

.header-top-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu>.menu__lista>li>a>i{
    margin: 5px;
}
.header-text>p{
    text-align: center;
    margin-top: 15px;
    font-size: 300;
    font-weight: bold;
    
}
.logo-ml{
    width: 40%;
}
.barra-busqueda{
    text-align: center;
    padding-top: 5%;
    
}
.barra{
    width: 60%;
    height: 30px;
}

.cont-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cont-menu{
    margin: 10px;
}
.menu{
    margin-bottom: 10px;
}
.menu__lista{
    display: flex;
    flex-wrap: wrap;
}
.menu>ul.menu__lista>li{
    list-style: none;
    padding: 0px 17px 0px 11px;
}
.menu>ul.menu__lista>li>a{
    margin: 10px;
    padding: 4px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 300;
    font-size: 15px;

}
.burger{
    text-align: center;
    margin: 15px;
}
.burger__menu>i{
    background-color: #1259c3;
    font-size: 20px;
    border-radius: 15%;
    padding: 12px;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 10px;
}

    /* MAIN */
main{
    width: 100%;
    text-align: center;
    background-color: #ebebeb;
}
main img{
    width: 100%;
}

.main-art__cont-product{
    width: 90%;
    margin-left: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.main-art__cont-product>.cont-product__producto{
    background-color: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
      
}
.producto__img{
    border-bottom: 1px solid #ebebeb;
}


main section article i{
    color: #39b54a;
    border: 1px solid #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}
.producto__icono{
    position: relative;
    margin-bottom: 25px;
}
.valor__descuento{
    color:  #39b54a;
    margin-left: 15px;
}

.titulares{
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 24px;
    text-align: left;
}
.valor__precio{
    font-size: 18px;
    width: 30%;
}
.valor__descuento{
    font-size: 16px;
    width: 70%;
}
.descripcion__nombre{
    font-size: 16px;
    margin-top: 5px;
}
.descripcion__valor{
    display: flex;
    margin: 5px;
}

/* FOOTER */
.footer-art{
    display: flex;
}
.footer-art>.art__cont{
    text-align: center;
    margin: 20px;
}
.descripcion__titulo{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
.footer-art >.art__cont>.cont__icon>i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.art__copyright{
    font-weight:bold;
    margin: 10px;
    margin-top: 25px;
}



/* -----MOBILE----- */
@media (max-width: 360px) {
    
    .header-top-section{
        flex-direction: column;

    }
    .logo-ml{
        width: 60%;
    }
    .barra-busqueda{
        width: 70%;
    }
    section.cont-menu{
        display: none;
    }
    p.descripcion__nombre{
        display: none;
    }
    
    .main-art__cont-product>.cont-product__producto {
        background-color: white;
        margin: 10px;
        padding: 15px;
        box-shadow: none;
    }
    .barra-busqueda{
        position: relative;
    }
    .barra{
        max-width: 100px;
        width: 50%;
    }
    .footer-art{
        flex-wrap: wrap;
    }

}